
#projects {
    
      width: 100%;
     position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
     
   
    
    font-family: 'Courier New', Courier, monospace !important;
     }
.proc-head h1 {
    line-height: 40px;
    color: #64ffda;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5rem;
    width: 100%;
 
  }
  #projects h1::after{
    content: "";
    display: block;
    position: relative;
   
    width: 30%;
    height: 1px;
   
    margin-left: 20px;
    background-color:#233554; 
  }
  #projects h1::before{
    content: "";
    display: block;
    position: relative;
   
    width: 30%;
    height: 1px;
   
    margin-right: 20px;
    background-color:#233554; 
  }
  .project-card-view{
    color: " #8892b0"
  }

  @media screen and (max-width:768px) {
    .proc-head h1 {
      line-height: 40px;
      color: #64ffda;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 5rem;
      width: 100%;
   font-size: 1rem;
    }
  }